table, th, td {
    border: 2px solid rgb(233, 230, 230);
    text-align: center;
}
th {
    background-color: yellow;
}
td {
    background-color: lightpink;
}
.column {
    float: left;
    width: 30%;
    border: 2px;
    border-color: gold;
    border-style: solid;
    border-radius: 5px;
    border-spacing: 15px;
}
.row{
    width:100%;
}

.header{
  width : 100%;
  display: inline-block;
  border-top: 2px solid gray;

  border-bottom: 2px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image_icon_left{
    width:80px;
    height:auto;
    float: left;
}

.image_icon_right{
  width:80px;
  height:auto;
  float: right;
}

body{
  background-color: aqua;
}

.triplayout{
  border:2px solid black;
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
}

.triplayout > img{
  display: inline-block;
  width:30%;
  height:150px;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
}

.triplayout > p{
  width : 60%;
  float:left;
}

.wrapper {
    display: block;
    align-items: center;
    min-height: 200px;
    
  }
  
  .box1 {
    align-self: stretch;
  }
  
  .box2 {
    align-self: flex-start;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }



#footer{
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-emphasis: initial;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: orange;
  }