table, th, td {
    border: 2px solid rgb(233, 230, 230);
    text-align: center;
}
th {
    background-color: yellow;
}
td {
    background-color: lightpink;
}
.column {
    float: left;
    width: 30%;
    border: 2px;
    border-color: gold;
    border-style: solid;
    border-radius: 5px;
    border-spacing: 15px;
}
.row{
    width:100%;
}

.header{
  width : 100%;
  display: inline-block;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image_icon{
    width:80px;
    height:auto;
}

.left{
  float:left;
  width: 30%;
}

.right{
  float:right;
  width: 70%;
}

body{
  background-color: aqua;
}

.tripbox{
  border:2px solid black;
  color: white;
  background-color: pink;
  display: inline-block;
  padding: 50px;
}

.tripdesign{
  display: inline-block;
}

.tripdesign > figure {
  width: 30%;
  display: inline;
}

.tripdesign > figure > img {
  width: 100%;
}

.tripdesign > figure > figcaption {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  color: red;
}

.tripdesign > p {
  color: black;
}


.triplayout > img{
  height:auto;
  padding-right: 50px;
  width: 25%;
  display: inline;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

.padding{
  padding-left: 50px;
  padding-right: 50px;

}

.picfig {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  padding-bottom: 25px;
}


.wrapper {
    display: block;
    align-items: center;
    min-height: 200px;
    
  }
  
  .box1 {
    align-self: stretch;
  }
  
  .box2 {
    align-self: flex-start;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }



#footer{
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-emphasis: initial;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: orange;
  }