.container {
  background-color: #0febef;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "courier new", monospace;
}

.header {
}

.header h2 {
  font-size: 40px;
  color: rgb(168, 75, 13);
  text-shadow: pink 2px 2px;
  padding-top: 40px;
}

.header p {
  font-weight: bold;
}
.score {
  font-size: 24px;
  margin-bottom: 10px;
}

.message {
  font-size: 24px;
  margin-bottom: 20px;
  color: red;
}

.input[type="text"] {
  font-size: 24px;
  padding: 5px 10px;
  margin-right: 10px;
}

button {
  font-size: 24px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}

#secret-number {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
  display: none;
}

.correct {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.incorrect {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
