.container {
  background-color: lightgoldenrodyellow;
  padding-left: 5%;
}


.rowTop {
  display: float;
  width: 100%;
  overflow: hidden;
  height: 120px;
}


.col-image {
  animation: scale-down 8s infinite;
  animation-delay: 1s;
  position: relative;
  left: 0;
  top: 5px;
  border-radius: 15%;
  border: 2px solid rgb(217, 214, 24);
  float: left;
  width: 100px;
  margin: 10px;
}

.col-image>img {
  width: 100%;
}

.col-content {
  width: 70%;
  font-size: medium;
  float: left;
}

.col-content h1 {
  animation: move-up 10s infinite alternate forwards;
  font-family: "Apple Chancery", cursive;
  color: rgb(110, 153, 16);
}

.col-content h4 {
  animation: move-down 10s infinite alternate;
  animation-delay: 1s;
  color: rgb(101, 101, 94);
}


@keyframes scale-down {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.5);
  }
}


@keyframes move-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.rowText {
  width: 100%;
  height: 55px;
  background-color: #91af0e;
  display: float;
  overflow: hidden;
}

.coltext {
  width: 95%;
  float: left;
  background-color: rgb(191, 173, 14);
}

.textbg {
  text-align: center;
}

.text::before {
  content: "$5.99 INTO THE NIGHT BODY CARE";
  animation: animate infinite 12s;
  padding-left: 10px;
  animation-timing-function: ease-in-out;
  font-size: larger;
}

@keyframes animate {

  0% {
    content: "$5.99 INTO THE NIGHT BODY CARE";
    color: rgb(96, 18, 93);
  }

  50% {
    content: "$7.50 Organic rice milk body cream";
    color: rgb(13, 113, 51);
  }

  100% {
    content: "$7.50 Himalaya Honey Body Cream";
    color: rgb(15, 63, 193);
  }
}

.topPicContainer {
  height: 500px;
  overflow: hidden;
}

.topPic>img {
  max-width: 100%;
  width: 100%;
  height: 500px
}

.topPic>p {
  color: white;
  position: relative;
  top: -400px;
  left: 20px;
  margin-inline: 5% 10%;
  margin-inline-start: 50px;
  margin-inline-end: 200px;
  padding: 3%;
  border: 2px solid white;
  background-color: gray;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
}

.midPicContainer {
  display: grid;
  grid-template-columns: 45% 45%;
  height: 300px;
  grid-column-gap: 5%;
}

.midPic {
  width: 100%;
  max-width: 100%;
}

.midPic>img {

  opacity: .7;
  width: 90%;
  position: relative;
  top: 20px;
  left: 20px;
  max-width: 100%;
  height: 280px;
}

.midPic img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 47, 75, 0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
  
}

.midPic > p {
  color:black;
  position: relative;
  top: -250px;
  left: 10px;
  margin-inline: 10% 5%;
  margin-inline-start: 50px;
  margin-inline-end: 200px;
  font-size: medium;
  max-width: 200px;
  max-height: 100px;
  padding: 3%;
  border: 2px solid rgb(26, 154, 26);
  opacity: .7;
  overflow: hidden;
  background-image: linear-gradient(45deg, #cacdc2, #afdc0c);
}
 


.floatleft {
  width: 100%;
  overflow: hidden;

}

.floatright {
  width: 90%;
  height: 245px;
  position: relative;
  top: 20px;
  right: 20px;
  background-color: #eae9d8;
  border: 2px solid gray;
  opacity: .7;
  padding-left: 40px; 
  padding-top: 30px; 
  padding-right: 40px;
  color: grey;
  background-image: linear-gradient(45deg, #cacdc2, #afdc0c);

}

.productTitle {
  color:rgb(149, 146, 7)
}

.productName {
  font-weight: bold;
}

.productDescription{
  font-size: small;

}

.productPriceSale {
  color: red;
  padding-bottom: 10px;
}

.productPrice {

  padding-bottom: 10px;
}


.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 50px;

}

.grid-item {
  border-radius: 5%;
  text-align: center;
}

.grid-item > img {
  width: 60%;
  position: relative;
  font-size: medium;
}


.grid-item>a{
  font-size: medium;
  border-radius: 15%;
  background-color: rgb(20, 19, 19);
  color: white;
}



.modalbackground{
  background-color: rgba(58, 61, 58, .7);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

h2 {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  text-align: left;
  background-color: #ffffff;
  background: lightpink;
  position: relative;
  top: -20px;
  
}

.orangebg {
  background-color: rgb(244, 163, 23);
}

.bluebg {
  background-color: lightblue;
}


.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(12, 134, 227, 0.872);
  background-color: white;
  
}

.modal-content img {
  max-width: 80%;
  margin-bottom: 20px;
}

.modal-content p {
  background-color: #ffffff;
  padding: 1px 40px;
  text-align: left;
  font-size: small;

}

.modal-wrapper:target {
  display: block;
}

.modal-grid-container {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 50px;

}

.modal-grid-item {
  border-radius: 5%;
  text-align: center;
}

.modal-grid-item > img {
  width: 70%;
  position: relative;
  font-size: medium;
}

.modal-title{
  padding-left: 45px;
  height: 20px;
}


.modal-title > a{
  position: relative;
  left: 437px;
  top:-60px;
  background:silver;
  font-size: x-large;
}

.modal-bottom{
  background-color: grey;
  height: 155px;

}

.modal-bottom > p{
  background-color: grey;

}

.modal-btn{
  padding: 10px 20px;
  border-radius: 5%;
  border: 2px solid white;
  background-color: rgb(228, 226, 226);
  color: black;
  position: relative;
  top: 15px;
  left: 40px;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  width: 30%;
}


@media only screen and (min-width: 768px) {
  .column {
      width: calc(60% - 10px);
      margin-bottom: 0;
  }
  .row::after {
      display: none;
  }
}

.btn{
  padding: 10px 20px;
  border-radius: 5%;
  border: 2px solid white;
  background-color: black;
  opacity: 1;

}


.btn:hover  {
  background-color: rgb(128, 128, 128);
  content: "Add to Shopping Cart";
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(169, 165, 165);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #999696;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -50px;
  right: 2px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.addCart::before {
  content: "before";
  background-color: #444;
}


.addCart:hover, addCart:hover span{
  content: "hover test";
  background-color: #eb1d1d;
  display: none;
}

#icon{
    width: 10%;
}

.bottomSection{
  background-color: black;
}

nav > ul li {
  float: left;
}

nav > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size:medium;
}

nav > ul > li > a:hover {
  background-color: orange;
}

.menuColumn{
  width: 25%;
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  left: -22px;
}
.menuDescription{
  color: white;
  font-size: x-small;
  margin: 0;
}

.footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-emphasis: initial;

    width: 100%;
    color: lightblue;
    
}

.footer:hover{
color: black;
}