
.container {
  background-color: lightgoldenrodyellow;
  padding-left: 5%;
}
  
 
  .rowTop {
    display: float;
    width: 100%;
    overflow: hidden;
    height: 10%;
  }

  
  .col-image {
    animation: scale-down 8s infinite;
    animation-delay: 1s;
    position: relative;
    left: 0;
    top: 5px;
    border-radius: 15%;
    border: 2px solid rgb(217, 214, 24);
    float: left;
    width: 15%;
    margin: 10px;
  }

  .col-image > img {
    width: 100%;
  }

  .col-content {
    width: 70%;
    font-size: medium;
    float:left;
  }
  
  .col-content h1 {
    animation: move-up 10s  infinite alternate forwards;
    font-family: "Apple Chancery", cursive;
    color: rgb(110, 153, 16);
  }
  
  .col-content h4 {
    animation: move-down 10s infinite alternate ;
    animation-delay: 1s;
    color: rgb(101, 101, 94);
  }


  @keyframes scale-down {
    from { transform: scale(1); }
    to { transform: scale(.5); }
  }
  
 
  @keyframes move-up {
    from { transform: translateY(100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes move-down {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

  .rowText {
    width: 100%;
    height: 55px;
    background-color: #91af0e;
    display: float;
  }

.coltext{
  width: 95%;
  float: left;
  background-color: rgb(191, 173, 14);
  }

  .textbg {
    text-align: center;
  }

  span::before {
    content: "$5.99 INTO THE NIGHT BODY CARE";
    animation: animate infinite 12s;
    padding-left: 10px;
    animation-timing-function: ease-in-out;
    font-size: larger;
}

@keyframes animate {

    0% {
        content: "$5.99 INTO THE NIGHT BODY CARE";
    }

    50% {
        content: "$7.50 Organic rice milk body cream";
    }

    100% {
        content: "$7.50 Himalaya Honey Body Cream";
    }
}

.topPic{
  
}

.topPic > img{
  width: 90%;
  height: 400px;
}
  
#icon{
    width: 10%;
}

.footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-emphasis: initial;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    color: lightblue;
    
}

.footer:hover{
color: black;
}